<!DOCTYPE html>
<html>
    <%- include partial/head %>
    <link href="/stylesheets/dropdown.css" rel="stylesheet" type="text/css">
    <script src="/javascripts/dropdown.js"></script>
  <body>
    <a href="/sendMail">Send Email</a>
    <div>
      <form class="" action="/order/add/" method="POST">
      <%data_order.forEach(row => {%>
        <table>
        <tr>Order</tr>
        <tr><input type="text" name="order" value="" placeholder="First Name"></tr>
        <tr>Price</tr>
        <tr><input type="number" name="price" value="" placeholder="Last Name"></tr>
        <tr>Payee</tr>
            <tr>
            <select name="sesuatu" multiple>
              <option value="satu">Satu</option>
              <option value="dua">Dua</option>
              <option value="tiga">Tiga</option>
              <option value="empat">Empat</option>
              <option value="lima">lima</option>
              <option value="enam">enam</option>
              <option value="tujuh">tujuh</option>
              <option value="delapan">delapan</option>
            </select>
          </tr>
          </div>
        <%})%>
      </table>
        <input type="submit" value="Save">
      </form>
      <a href="/addPayee">Add a new payee</a>
      <button><a href="/logout">Log Out</a></button>
  </body>
</html>
