<!DOCTYPE html>
<html>
    <%- include partial/head %>
    <link href="/stylesheets/dropdown.css" rel="stylesheet" type="text/css">
    <script   src="/javascripts/dropdown.js"></script>
  <body>
    <form class="" action="/order/add" method="POST">
      <p> Order
          <br>
        <input type="text" name="order" value="" placeholder="First Name">
      </p>
      <p> Price
          <br>
        <input type="number" name="price" value="" placeholder="Last Name">
      </p>
      <p> Payee
          <br>
          <div class="multiselect">
            <div class="selectBox" onclick="showCheckboxes()">
              <button> pilih </button>
              <div class="overSelect"></div>
            </div>
            <div id="checkboxes">
              <label for="one">
                <input type="checkbox" name="person1" value="person1" id="one" />First checkbox</label>
              <label for="two">
                <input type="checkbox" name="person1" value="person2" id="one" />Second checkbox</label>
              <label for="three">
                <input type="checkbox" name="person1" value="person3" id="one" />Third checkbox</label>
            </div>
          </div>
      </p>
        <input type="submit" value="Save">
      </form>
      <a href="/addPayee">Add a new payee</a>
  </body>
</html>
