<!DOCTYPE html>
<html>
  <%- include partial/head %>
  <%- include partial/login %>
  <body>
    <body>
      <div class="col-md-10 col-md-offset-1">
        <div class="wrapper">
         <form class="form-signin" action="/registerPayee" method="post">
          <h2>Registration Form</h2><br>
           <input type="text" class="form-control" name="name" placeholder="Name"/><br>
           <input type="email" class="form-control" name="email" placeholder="Email"/><br>
           <button class="btn btn-lg btn-primary btn-block" type="submit">Register New Payee</button><br>
           <a href="/"> Back To Home </a>
         </form>
        </div>
      </div>
  </body>
</html>