<style media="screen">
.type {
  color:  #428bca;
  text-align: center;
  background-color: #f6f6f6;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
  line-height: 3em;
  padding-top: 12em;
  padding-bottom: 13em;
}

.type-r1 {
  font-size: 6.5em;
  font-weight: 700;
  line-height: 1.2em;
  margin: 0;
}

.type-r2 {
  font-size: 3em;
  color: darkgray;
  line-height: 1em;
  font-weight: 300;
  position: relative;
  display: inline-block;
  margin: 0;
}

.type-r2::after {
  content: '';
  height: 1px;
  background-color: darkgray;
  width: 2em;
  position: absolute;
  top: 0.5em;
  left: -2.5em;
}

.type-r2::before {
  content: '';
  height: 1px;
  background-color: darkgray;
  width: 2em;
  position: absolute;
  top: 0.5em;
  right: -2.5em;
}

.type-r3 {
  font-size: 4.3em;
  line-height: 1.4em;
  font-weight: 300;
  margin: 0;
}

body {
  margin-top: 30px;
  background-color: #f7f5ea;
}

.main {
  color: gray;
  font-family: 'Open Sans', sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  font-size:14px !important;
}

p {
  background-color: #ce122e;
  padding: 10px;
  border-radius: 8px;
  width: 50%;
  color: white;
}

.ror  {
  background-color: #ce122e;
  padding: 7px;
  border-radius: 8px;
  width: 100%;
  color: white;
  text-align: center;
}

.wrapper {
    margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);


    .form-control {
      position: relative;
      font-size: 16px;
      height: auto;
      padding: 10px;
        @include box-sizing(border-box);

        &:focus {
          z-index: 2;
        }
    }



    input[type="text"] {
      margin-bottom: -1px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    input[type="password"] {
      margin-bottom: 20px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
}


</style>